<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.afitch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Afitch">
        <activity
            android:name=".User_settings"
            android:exported="true" />
        <activity
            android:name=".Diet_register"
            android:exported="true" />
        <activity
            android:name=".Diet_recommend"
            android:exported="true" />
        <activity
            android:name=".Video_finish"
            android:exported="true" />
        <activity
            android:name=".Video_recording"
            android:exported="true" />
        <activity
            android:name=".Video_preview"
            android:exported="true" />
        <activity
            android:name=".User_signUp"
            android:exported="true" />
        <activity
            android:name=".User_login"
            android:exported="true" />
        <activity
            android:name=".Ranking_detail"
            android:exported="true" />
        <activity
            android:name=".Ranking_main"
            android:exported="true" />
        <activity
            android:name=".Home_detail"
            android:exported="true" />
        <activity
            android:name=".Home_main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Diet_main"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>